<h1>Time Entry App for Kings</h1>

<form action="/project" method="POST">
	<input type="text" placeholder="project name" name="projectName" />
	<input type="text" placeholder="client name" name="clientName" />
	<button type="submit">Add Project</button>
</form>

<ul>
	<% for (var i = 0 ; i < projects.length ; i++) { %>
		<li>
			<span>Project: <%= projects[i].projectName %></span>
		</li>
	<% } %>
</ul>
